
*,
*:before,
*:after {
	box-sizing: border-box;
}

.header {
  border-bottom: 2px solid grey;
  /*background-color: grey;*/
  height: 15vh;
}

main {
  margin: 20px;
}

a {
  line-height: 15vh;
  color: green !important;
}

.btnHeader {
margin-top: 20px;
padding-top: -10px;
height: 50px;
/*background-color: red;*/
text-align: center;
}

figure {
  border: 2px solid grey;
}

footer {
  border-top: 2px solid grey;
}

.social {
  display: flex;
}

.add-article {
  margin-top: 30px;
  border: 2px solid grey;
  width: 650px;
}

.imgCard {
  width: 100%;
}

.card {
	/* column width */
column-width: 25em;
	/* space between columns */
column-gap: 1em;
}

.cardAbout {
  column-width: 90%;
}

.item {
	display: inline-block;
	width: 100%;
}
